@page
@model BlabberApp.Client.Pages.FeedModel
@{
    ViewData["Title"] = "Feed";
}

    <section id="main">
        <div id="content">
            <h1>Feed</h1>
            <p>Delicious Content!</p>
        </div>
    </section>
